<%-include ('partials/header.ejs'); %>
  <%- include("partials/usernavbar.ejs") %>

    <body>
      <div class="container">
        <br>
        <div class="jumbotron form-control bg-light ">
          <br>
          <h1 class="display-4">Bem-vindo!</h1>
          <p class="lead">Este é um simples blog feito com Node.JS</p>
          <hr class="my-4">
          <p>Leia e escreva artigos aqui!</p>
        </div>
        <br>

        <% articles.forEach(article=> { %>
          <div class="card">
            <div class="card-header">
              <h2>
                <%= article.title %>
              </h2>
            </div>
            <div class="card-body">
              <a href="/<%= article.slug %>" class="btn btn-success btn-sm">Ler Artigo</a>
            </div>
          </div>
          <br>
          <% }) %>

            <div class="row">
              <div class="col col-12">
                <hr>
                <a style="float:right" href="/articles/page/2">Next >>></a>
                <br>
                <hr>
              </div>
            </div>


      </div>
    </body>

    <%-include ('partials/footer.ejs');%>